<!DOCTYPE html>

<html>
<head>
  <title><%= content_for :title %> | RB Golf</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'RB Golf', root_path, class: 'brand' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="main">
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "alert alert_#{type}" %>
      <% end %>

      <%= yield %>
    </div>

    <div class="footer">
      Copyright &copy; 2012 RB Golf
    </div>
  </div>
</body>
</html>
